<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen">
        <mat-toolbar color="primary">
            <span>Contacts</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users | async">
                <a matLine [routerLink]="['/contact-manager', user.id]">
                    <mat-icon svgIcon="{{user.avatar}}"></mat-icon> {{ user.name }}
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div class="sidenav-content">
        <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
        <div class="wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>